@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap"); /* General styling */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem 0;
}

.main .main__hero {
  background-size: cover;
  background-image: url("./../media/elipse.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
  position: relative;
  z-index: 1000;
}
@media only screen and (min-width: 1366px) {
  .main .main__hero {
    min-height: 1000px;
  }
}
.main .main__hero .hero__content-main {
  color: #fff;
  margin: 0 auto;
  max-width: 450px;
  padding: 3rem 1rem;
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-main {
    margin: 0 auto 0 2rem;
    padding: 5rem 1rem 3rem 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__hero .hero__content-main {
    max-width: 500px;
    padding: 6rem 0 0 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__hero .hero__content-main {
    max-width: 600px;
    padding: 6rem 0 0 8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__hero .hero__content-main {
    max-width: 650px;
    padding: 6rem 0 0 12rem;
  }
}
.main .main__hero .hero__content-main p {
  margin: 0 0 1rem 0;
}
.main .main__hero .hero__content-main p:first-of-type {
  font-size: 3.5rem;
  font-weight: 800;
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-main p:first-of-type {
    font-size: 4rem;
  }
}
.main .main__hero .hero__content-main p:nth-of-type(2) {
  font-size: 1.75rem;
  font-weight: 600;
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-main p:nth-of-type(2) {
    font-size: 2rem;
  }
}
.main .main__hero .hero__content-main p:nth-of-type(3) {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
@media only screen and (min-width: 400px) {
  .main .main__hero .hero__content-main p:nth-of-type(3) {
    font-size: 1.25rem;
  }
}
.main .main__hero .hero__content-main svg {
  margin: 0 0 1rem 0;
}
.main .main__M1 {
  margin: 6rem 0 0 0;
}
@media only screen and (min-width: 576px) {
  .main .main__M1 {
    margin: 3rem 0 0 0;
  }
}
.main .main__M1 .M1__content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 0 4rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.main .main__M1 .M1__content-main .main__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-main .main__image {
    margin: 0;
  }
}
.main .main__M1 .M1__content-main .main__image svg {
  bottom: 0;
  height: 125px;
  position: absolute;
  right: 125px;
  width: 125px;
}
.main .main__M1 .M1__content-main .main__block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 1rem;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-main .main__block {
    margin: 0;
  }
}
.main .main__M1 .M1__content-main .main__block svg {
  height: 50px;
  width: 50px;
}
.main .main__M1 .M1__content-main .main__block h2 {
  color: #3dae2b;
  font-size: 3rem;
  font-weight: 900;
  line-height: 4rem;
  margin: 1.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 400px) {
  .main .main__M1 .M1__content-main .main__block h2 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-main .main__block h2 {
    text-align: left;
  }
}
.main .main__M1 .M1__content-main .main__block p {
  color: #645f5f;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
}
@media only screen and (min-width: 400px) {
  .main .main__M1 .M1__content-main .main__block p {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-main .main__block p {
    margin: 0;
    text-align: left;
  }
}
.main .main__M1 .M1__content-main .svg-form {
  bottom: -350px;
  height: 475px;
  position: absolute;
  right: 0;
  width: 250px;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .main .main__M1 .M1__content-main .svg-form {
    bottom: -375px;
    height: 525px;
  }
}
@media only screen and (min-width: 1366px) {
  .main .main__M1 .M1__content-main .svg-form {
    bottom: -700px;
    height: 950px;
  }
}
.main .main__M1 .M1__content-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0 1rem 0;
}
.main .main__M1 .M1__content-footer a {
  background-color: #bf0480;
  border: 0;
  border-radius: 1.25rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5em 1em;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .main__M1 .M1__content-footer a:hover {
  background-color: #29abe2;
}
.main .main__M1 .M1__content-footer a:active {
  background-color: #d93dbf;
}
.main .main__M1 .M1__content-footer .footer__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(130, 125, 125, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(130, 125, 125, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
  padding: 0 0 1.5rem 0;
  width: 80%;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-footer .footer__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
.main .main__M1 .M1__content-footer .footer__block .block__social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-footer .footer__block .block__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 3rem 0 0;
  }
}
.main .main__M1 .M1__content-footer .footer__block .block__social span {
  color: #29abe2;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.main .main__M1 .M1__content-footer .footer__block .block__social .arrow-down {
  margin: 1rem 0;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-footer .footer__block .block__social .arrow-down {
    display: none;
  }
}
.main .main__M1 .M1__content-footer .footer__block .block__social .arrow-right {
  display: none;
  height: 40px;
  width: 40px;
}
@media only screen and (min-width: 992px) {
  .main .main__M1 .M1__content-footer .footer__block .block__social .arrow-right {
    display: block;
  }
}
.main .main__M1 .M1__content-footer .footer__block .block__social svg {
  fill: #29abe2;
  margin: 0 1rem;
  width: 40px;
}
.main .main__M1 .M1__content-footer .footer__block .block__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main__M1 .M1__content-footer .footer__block .block__icons a {
  background: none;
  margin: 0 0.5rem;
  padding: 0;
}

.footer__M1 {
  background-color: #333;
  color: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 0.875rem;
  padding: 3rem 1rem;
}
.footer__M1 > div {
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__M1 > div {
    margin: 0 0 0.5rem 0;
  }
}
.footer__M1 > div:nth-child(2) {
  margin: 0;
}
.footer__M1 > div a {
  color: rgba(255, 255, 255, 0.25);
}/*# sourceMappingURL=styles.css.map */