.main {
  .main__hero {
    background-size: cover;
    background-image: url("./../media/elipse-sm.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 600px;
    position: relative;
    z-index: 1000;
    @media only screen and (min-width: 576px) {
      background-image: url("./../media/elipse-lg.png");
      min-height: 950px;
    }
    @media only screen and (min-width: 1366px) {
      background-image: url("./../media/elipse-xl.png");
    }
    .hero__content-main {
      color: #fff;
      margin: auto;
      max-width: 450px;
      padding: 0 1rem;
      @media only screen and (min-width: 576px) {
        margin: auto auto auto 6rem;
        padding: 0;
      }
      @media only screen and (min-width: 992px) {
        margin: auto auto auto 12rem;
      }
      @media only screen and (min-width: 1200px) {
        margin: auto auto auto 15rem;
      }
      @media only screen and (min-width: 1366px) {
        margin: 12rem auto auto 24rem;
      }
      p {
        margin: 0 0 1rem 0;
        &:first-of-type {
          font-size: 3.5rem;
          font-weight: 800;
          @media only screen and (min-width: 400px) {
            font-size: 4rem;
          }
        }
        &:nth-of-type(2) {
          font-size: 1.75rem;
          font-weight: 600;
          @media only screen and (min-width: 400px) {
            font-size: 2rem;
          }
        }
        &:nth-of-type(3) {
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 1.75rem;
          @media only screen and (min-width: 400px) {
            font-size: 1.25rem;
          }
        }
      }
      svg {
        margin: 0 0 1rem 0;
      }
    }
  }
  .main__M1 {
    margin: 2rem 0 0 0;
    @media only screen and (min-width: 576px) {
      margin: 5rem 0 0 0;
    }
    .M1__content-main {
      display: flex;
      flex-flow: column wrap;
      margin: 0 0 4rem 0;
      position: relative;
      @media only screen and (min-width: 992px) {
        flex-flow: row wrap;
        justify-content: space-evenly;
      }
      .main__image {
        flex-basis: 40%;
        margin: 0 auto;
        max-width: 500px;
        position: relative;
        @media only screen and (min-width: 992px) {
          margin: 0;
        }
        svg {
          bottom: 0;
          height: 125px;
          position: absolute;
          right: 125px;
          width: 125px;
        }
      }
      .main__block {
        align-items: flex-start;
        display: flex;
        flex-basis: 60%;
        flex-flow: column wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 500px;
        padding: 0 1rem;
        @media only screen and (min-width: 992px) {
          margin: 0;
        }
        svg {
          height: 50px;
          width: 50px;
        }
        h2 {
          color: $green;
          font-size: 3rem;
          font-weight: 900;
          line-height: 4rem;
          margin: 1.5rem 0;
          text-align: center;
          @media only screen and (min-width: 400px) {
            font-size: 4rem;
          }
          @media only screen and (min-width: 992px) {
            text-align: left;
          }
        }
        p {
          color: $gray;
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 1.75rem;
          margin: 0 0 1.5rem 0;
          text-align: center;
          @media only screen and (min-width: 400px) {
            font-size: 1.25rem;
          }
          @media only screen and (min-width: 992px) {
            margin: 0;
            text-align: left;
          }
        }
      }
      .svg-form {
        display: none;
        z-index: 1;
        @media only screen and (min-width: 768px) {
          display: block;
          height: 525px;
          position: absolute;
          right: 0;
          top: -300px;
          width: 250px;
        }
        @media only screen and (min-width: 1200px) {
          height: 650px;
        }
        @media only screen and (min-width: 1366px) {
          height: 1000px;
          width: 300px;
          top: -500px;
        }
      }
    }
    .M1__content-footer {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 3rem 0 1rem 0;
      a {
        background-color: $darkPurple;
        border: 0;
        border-radius: 1.25rem;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0.5em 1em;
        text-decoration: none;
        width: fit-content;
        &:hover {
          background-color: $blue;
        }
        &:active {
          background-color: $lightPurple;
        }
      }
      .footer__block {
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(130, 125, 125, 0.25);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 3rem 0;
        padding: 0 0 1.5rem 0;
        width: 80%;
        @media only screen and (min-width: 992px) {
          flex-flow: row wrap;
        }
        .block__social {
          align-items: center;
          display: flex;
          flex-flow: column wrap;
          @media only screen and (min-width: 992px) {
            flex-flow: row wrap;
            margin: 0 3rem 0 0;
          }
          span {
            color: $blue;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
          }
          .arrow-down {
            margin: 1rem 0;
            @media only screen and (min-width: 992px) {
              display: none;
            }
          }
          .arrow-right {
            display: none;
            height: 40px;
            width: 40px;
            @media only screen and (min-width: 992px) {
              display: block;
            }
          }
          svg {
            fill: $blue;
            margin: 0 1rem;
            width: 40px;
          }
        }
        .block__icons {
          display: flex;
          a {
            background: none;
            margin: 0 0.5rem;
            padding: 0;
          }
        }
      }
    }
  }
}
